# **Project: Climate Change Analysis in Tanzania**

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

In [26]:
# Import data
datapath = r"/Users/rosepeterfunja/Tanzania_KIC/Assignment/capstone-project-rhysrose/data/tanzania_climate_data.csv"
df = pd.read_csv(datapath)

# Optional: Check the first few rows
print(df.head())

   Year  Month  Average_Temperature_C  Total_Rainfall_mm  Max_Temperature_C  \
0  2000      1                   26.1               19.8               32.0
1  2000      2                   25.8               87.3               29.5
2  2000      3                   26.8              266.5               29.9
3  2000      4                   26.3              136.7               30.1
4  2000      5                   26.0               63.1               30.7

   Min_Temperature_C
0               21.9
1               22.7
2               21.8
3               22.9
4               22.4

In [27]:
df.describe()

,Year,Month,Average_Temperature_C,Total_Rainfall_mm,Max_Temperature_C,Min_Temperature_C
count,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
mean,2010.000000,6.500000,25.707540,100.363889,30.576587,21.698016
std,6.067351,3.458922,0.541047,80.485087,1.292534,0.793070
min,2000.000000,1.000000,24.200000,6.000000,28.300000,19.700000
25%,2005.000000,3.750000,25.300000,39.325000,29.600000,21.100000
50%,2010.000000,6.500000,25.700000,72.200000,30.500000,21.700000
75%,2015.000000,9.250000,26.000000,147.700000,31.600000,22.200000
max,2020.000000,12.000000,27.500000,297.400000,33.700000,23.700000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   252 non-null    int64
 1   Month                  252 non-null    int64
 2   Average_Temperature_C  252 non-null    float64
 3   Total_Rainfall_mm      252 non-null    float64
 4   Max_Temperature_C      252 non-null    float64
 5   Min_Temperature_C      252 non-null    float64
dtypes: float64(4), int64(2)
memory usage: 11.9 KB